{% extends 'base/layout.twig' %}

{% set heading = 'Kommissionierwagen' %}
{% set active = 'Logistics' %}
{% block content %}

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">0 Elemente am Kommissionierwagen</h6>
        </div>
        <div class="card-body">
            <p>Hier werden alle Elemente aufgelistet, welche sich auf dem Kommissionierwagen befinden.</p>
        </div>
    </div>


    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Barcode scannen/eingeben</h6>
        </div>
        <div>
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <input type="text" id="barcode"/>
                        <button class="btn btn-primary" id="addItem">OK</button>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <p id="actualPart"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" id="errorBox">
        <div class="col-lg-12 mb-4">
            <div class="card bg-danger text-white shadow">
                <div class="card-body" id="error">
                </div>
            </div>
        </div>
    </div>


    <script type="text/javascript">
        $('#errorBox').hide();
        $(document).ready(function () {

            $('#addItem').on('click', function () {
                var barcode = $('#barcode').val();

                if (barcode.length != 9) {
                    $('#error').html('Fehler! Barcode muss genau 9 Zeichen lang sein...');
                    $('#errorBox').show();
                    return;
                }

                $.ajax({
                    type: 'POST',
                    data: {"barcode": barcode},
                    url: 'http://localhost:3000/admin/lorry/add',
                    success: function (data) {
                        $('#actualPart').text(JSON.stringify(data));
                    },
                    error: function (data) {
                        alert('nothing found');
                    }
                });
            });
        });
    </script>
{% endblock %}