{% if orderScans|length > 0 %}
    <div class="table-responsive">
        <table class="table table-bordered" id="orderScanTable" width="100%" cellspacing="0">
            <thead>
            <tr>
                <th>Part ID</th>
                <th>Bezeichnung</th>
                <th>Gewicht</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for scan in orderScans %}
                <tr>
                    <td>{{ scan.part.id }}</td>
                    <td>{{ scan.part.name }}</td>
                    <td>{{ scan.weight }}</td>
                    <td>
                        <a href="#" data-id="{{ scan.id }}" class="deleteOrderScan"><i
                                    class="far fa-trash-alt text-danger"></i></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% else %}
    <span class="font-italic">Es sind noch keine Teile am Kommissionierwagen hinterlegt!</span>
{% endif %}